<div class="mt-4 row">
    <h3>Add New Student</h3>
    <div class="form-group col">
        <label for="id">Id:</label>
        <input id="id" type="text" class="form-control" [(ngModel)]="student!.id">
    </div>
    <div class="form-group col">
        <label for="name">Name:</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="student!.name">
    </div>
    <div class="form-group col">
        <label for="age">Age:</label>
        <input id="age" type="number" class="form-control" [(ngModel)]="student!.age">
    </div>
</div>
<button class="btn btn-primary my-2" (click)="create(student)">Add Student</button>