<div class="btn btn-primary my-3" routerLink="/departments/create">Add New department</div>


<div class="row">
    <div class="col-7">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="departments!.length > 0; else nodepartments">
                    <tr *ngFor="let department of departments">
                        <td>{{ department.name }}</td>
                        <td>{{ department.location }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary mx-3"
                                [routerLink]="['/departments', department._id]">Show</button>
                            <button class="btn btn-sm btn-warning mx-3"
                                [routerLink]="['/departments', department._id, 'edit']">Edit</button>


                            <button class="btn btn-sm btn-danger mx-3" (click)="delete(department._id)">Delete</button>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #nodepartments>
                    <tr>
                        <td colspan="3">No departments</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>


    </div>
    <div class="col-5">
        <router-outlet></router-outlet>
    </div>

</div>